body {
    background-color: #343a40;
}

.dark {
    background-color: #343a40!important;
    color:#aaa!important;
    border-bottom: 0;
}

.card{
    border-radius: 0;
}

.color-grey
{
    color:#aaa;
}

.color-grey:hover{
    color:#f1f1f1;
    text-decoration: none;
}

table {
    border:1px solid #ddd;
}

.notif{
    border-radius: 0;
    position:fixed;
    z-index: 99999;
    left:1em;
    bottom:1em;
    color:#fff;
    background: url('../images/success.png') repeat;
}

.notif-error{
    border-radius: 0;
    position:fixed;
    z-index: 99999;
    left:1em;
    bottom:1em;
    color:#fff;
    background: url('../images/error.png') repeat;
}

.e-404 {
    color:#fff;
    text-align: center;
}

.size-xxl {
    font-size: 11.55em;
}